extends ../partials/layout.pug
block content
    header
        h1 Esto es un H1
        h2 Tareas Frontend
           p Hola CON PUG FUNCIONA...
    section
        ul
            li Tareas de Compilación
            li Tareas en Tiempo Real
            li Tareas de Publicación



    script(src="./js/script.js")