extends ../partials/layout.pug
block content
	h1 Plantilla Pug
	h2 Tareas Frontend
	p Hola Chic@s
	ul
		li Tareas de Compilación
		li Tareas en Tiempo Real
		li Tareas de Publicación
	script(src="./js/script.js")