html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #234cde; }

a {
  color: #FFF; }
  a:hover {
    color: #2291D0; }

li {
  background-color: #2291D0; }

h1 {
  background-color: #fff; }

.pulse {
  background-color: #fff; }

h2 {
  color: #fff;
  background-color: #000; }
