@import 'vars';

html {
	font-family:  $font-main;
	font-size: $font-base;
	background-color: $blue-dark;
}

a {
	color: #FFF;
	&:hover {
		color: $blue-light;
	}
}

li {
    background-color: $blue-light;
}

h1{
    background-color: #fff;
}

.pulse{
    background-color: #fff;
}

h2{
    color: #fff;
    background-color: #000;
}